html{
    width: 100%;
    height: 100%;
}
body{
width: 100%;
height: 100%;
justify-content: center;
align-items: center;
display: flex;
background-color: black;
}
.body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 500px;
    width: 550px;
    overflow: auto;
    border: 1px solid black;
    border-radius: 35px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.main{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
    border-bottom: 1px solid black
}
.main-list{
    padding-top: 10px;
    padding-right: 20px;
}
#input{
    padding-left: 10px ;
    padding-right: 10px ;
    width: 100px;
    height: 30px;
    font-size: 15px;
    background-color: rgb(238, 235, 235);
    border: 1px solid black;
    opacity: .5;
    transition: all 1s ease;
}
#input:focus{
    opacity: 1;
    width: 300px;
    border: 1px solid rgb(0, 50, 251);
    border-radius: 12px;
}
#input:hover{
    width: 300px;
    border: 1px solid rgb(0, 50, 251);
    border-radius: 12px;
}
#buttonadd{
    width: 100px;
    height: 35px;
    font-size: 15px;
    transition: all 0.9s ease;
    border: 0.5px solid black;
    opacity: .5;
    margin-left: 7px;
    
}
#buttonreset{
    width: 100px;
    height: 35px;
    font-size: 15px;
    transition: all 0.9s ease;
    border: 0.5px solid black;
    opacity: .5;
    margin-left: 7px;
}
#buttonadd:hover{
    background-color: rgb(83, 184, 220);
    box-shadow: 2px 2px rgb(29, 163, 235);
    opacity: 1;
    border-radius: 12px;

}
#buttonreset:hover{
    background-color: rgb(241, 54, 54);
    box-shadow: 2px 2px rgb(241, 94, 94);
    opacity: 1;
    border-radius: 12px;

}
